# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Dataset
data/

# Model Weights
*.pth
*.pt

# Generated Outputs
*.png
*.jpg
*.jpeg

# OS Specific
.DS_Store

# User Requested Ignores
instructions.txt
requirements.txt
~$nAI-Lab-Week3.docx
~$nAl-Lab-Week3.docx
create_pdf.py

